@{
    ViewData["Title"] = "Trang chủ";
}

<h2> Welcome To ASP.NET MVC</h2>

<ul>
    <li><a asp-controller="Home" asp-action="About">About</a></li>
    <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
</ul>